* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292524;
    color: #fafaf9;
    font-family: "sono", sans-serif;
}

.header {
    margin: 40px;
}

.fact-form {
    background-color: #44403c;
}

h1 {
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
    
}

.fact {
    background-color: #44403c;
    font-size: 20px;
    line-height: 1.4;
    
}

.tag {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Coiny', cursive;

}

ul {
    list-style: none;
}